.miku{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #39C5BB;
    vertical-align: middle;
}
.yzl{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #EE0000;
    vertical-align: middle;
}
.jan{
    font-size: 30px;
    display: inline-block;
    background: linear-gradient(to right, #39C5BB, #EE0000);
    -webkit-background-clip: text;
    color: transparent;
}
.ruby-ja{
    font-size: 0.8em;
}

.mask {
    background-color: #252525;
    color: #252525;
    transition: color 0.5s;
    display: inline-block;
}
.mask:hover {
    color: #ffffff;
}
    
